/* Main container */
.login-container {
    display: flex;
    flex-direction: row;
    width: 90%;  
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 0 auto; 
  }
  
  /* Sub containers */
  .login-subdiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;  
  }
  
  .image-side {
    background-color: #dfeee9;
    text-align: center;
    width: 100%; 
  }
  
  .image-wrapper {
    position: relative;
    width: 100%;  
    padding-top: 56.25%;  
    overflow: hidden;  
  }
  
  .responsive-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  

  .image-text {
    margin-top: 20px;
  }
  
  .image-text h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #345b47;
  }
  
  .image-text p {
    font-size: 14px;
    color: #555;
  }
  
  /* Form container */
  .form-side {
    background-color: #ffffff;
    color: #333;
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Responsive */
  @media (max-width: 772px) {
    .login-container {
      flex-direction: column;
      width: 100%; 
    }
  
    .login-subdiv {
      flex: none;
      width: 100%;
      padding: 10px;
    }
  
    .image-side {
      text-align: center;
    }
  
    .image-text h2 {
      font-size: 20px; 
    }
  
    .image-text p {
      font-size: 12px; 
    }

    .image-wrapper {
        display: none;
    }

    .image-text {
        margin: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .login-subdiv {
      flex: none;
      width: 100%;
      padding: 10px;
    }
  
    .image-text h2 {
      font-size: 18px; 
    }
  
    .image-text p {
      font-size: 12px; 
    }
  }