/* Estilos del contenedor principal */
.table_main_container {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.main_title {
  font-size: 2.5rem;
  color: #345b47;
  margin-bottom: 20px;
  text-align: center;
}

/* Tabla */
.main_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main_table th {
  background-color: #345b47;
  color: white;
  text-align: left;
  padding: 12px;
  font-size: 1.1rem;
}

.main_table td {
  padding: 12px;
  color: #555;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
}

.main_table tr:hover {
  background-color: #ff96fd;
  transition: background-color 0.3s ease;
}

.main_table tr:last-child td {
  border-bottom: none;
}
  

  /* navbar */

  .navbar {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #345b47;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar_logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar_links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar_links li {
    display: inline;
  }
  
  .navbar_links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar_links a:hover {
    color: #ff96fd;
  }