
.table_main_container {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.main_title {
  font-size: 2.5rem;
  color: #345b47;
  margin-bottom: 20px;
  text-align: center;
}


.main_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main_table th {
  background-color: #345b47;
  color: white;
  text-align: left;
  padding: 12px;
  font-size: 1.1rem;
}

.main_table td {
  padding: 12px;
  color: #555;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
}

.main_table tr:hover {
  background-color: #f3cbf2; 
  color: #333;  
  transform: scale(1.02);  
  transition: background-color 0.3s, transform 0.3s;  
}

.main_table tr:last-child td {
  border-bottom: none;
}

#main_body {
  width: 100%;
}

@media (max-width: 768px) {
  .main_table {
    width: 100%;
    margin-top: 10px;
  }

  .main_table th, .main_table td {
    padding: 8px;
    font-size: 0.9rem;
  }

  .main_table th {
    font-size: 1rem;
  }

  #main_body {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main_table {
    width: 100%;
    margin-top: 10px;
  }

  .main_table th, .main_table td {
    padding: 6px;
    font-size: 0.7rem;
}

.main_table th {
  font-size: 10px;
}

  .main_title {
    font-size: 1.8rem;
  }

 
  .table_main_container {
    overflow-x: auto;
  }

}


 /* navbar */
.navbar {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #345b47;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar_logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar_links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar_links li {
  display: inline;
}

.navbar_links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: color 0.3s, transform 0.3s;
}

.navbar_links a:hover {
  color: #e7e2e7;  
  transform: scale(1.1);  
}


.navbar_icon {
  margin: 0 8px;  
  width: 24px;    
  height: 24px;
  vertical-align: middle; 
  opacity: 0.8;  
}

/* Dark mode */
.dark-mode body {
  background-color: #121212; 
  color: #FFFFFF; 
  transition: background-color 0.3s, color 0.3s;
}


.dark-mode .main_table {
  background-color: #2c4739; 
  color: #f3cbf2; 
  font-weight:600;
}

.dark-mode .main_table th,
.dark-mode .main_table td {
  border-color: #444444;  
}
